.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

my-calendar {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: white;
  width: 300px;
  margin-bottom: 10px;
}

my-calendar > div.header {
  float: left;
  width: 100%;
  background: #72C086;
  height: 40px;
  color: white;
}

my-calendar > div.header > * {
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}

my-calendar > div.header > i {
  float: left;
  width: 40px;
  font-size: 1.15em;
  font-weight: normal;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
}

my-calendar > div.header > i.fa-angle-left {
  text-align: left;
}

my-calendar > div.header > i.fa-angle-right {
  text-align: right;
  margin-left: -40px;
}

my-calendar > div.header > span {
  float: left;
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 50px;
  margin-left: -40px;
  text-align: center;
  padding-right: 40px;
  color: inherit;
}

my-calendar > div.week {
  float: left;
  width: 100%;
}

my-calendar > div.week:first-child {
  border-top: none;
}

my-calendar > div.week > span.day {
  float: left;
  width: 14.28571429%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 1.00em;
  text-align: center;
  height: 30px;
  line-height: 30px !important;
  display: inline-block;
  vertical-align: middle;
  background: white;
  color: #b3b3b3;
}

my-calendar > div.week > span.day:first-child {
  border-left: none;
}

my-calendar > div.week > span.day.today {
  color: #808080;
  font-weight: bold;
  text-decoration: underline;
}

my-calendar > div.week > span.day.different-month {
  color: #e6e6e6;
}

my-calendar > div.week > span.day.available {
  background: #90CB9F;
  color: white;
}

my-calendar > div.week.names > span {
  color: #72C086;
  font-weight: normal;
}
